<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">


</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

    <div class="nav">
        <div class="logo"><a href="/action" class="f-logo">HiStory</a></div>
        <ul class="menu">
            <li><a href="/action" class="f-menu">Action</a></li>
            <li><a href="/history" class="f-menu">History</a></li>
            <li><a href="/explore" class="f-menu active">Explore</a></li>
            <li><a href="/setting" class="f-menu">Setting</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="left">

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="../public/story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mark> Quibusdam, ipsam atque! Magni eius aliquam unde temporibus omnis, tempora beatae laboriosam.
                </div>
            </div>

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="../public/story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mark> Recusandae aut, saepe incidunt vel! Aliquam harum cum vel velit, omnis ullam quam sed ea, dolor est quasi unde quae aliquid porro!
                </div>
            </div>

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="../public/story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet.</mark>
                </div>
            </div>

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="../public/story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mark> Qui possimus, at cupiditate. Odio, ducimus, ratione.
                </div>
            </div>

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="Story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mark> Fuga quos cum minus aliquid, dolorum adipisci, atque quidem et architecto, illo voluptatum suscipit cupiditate! Nisi, veniam magnam voluptates numquam accusantium consequuntur voluptas. Corporis numquam provident aperiam excepturi esse, magnam consequuntur voluptatem.
                </div>
            </div>

            <div class="page-list">
                <div class="page">
                    <div class="explore-header">
                        <div class="date f-subSmall">2017.00.00</div>
                        <div class="card-name">
                            <a href="Story.html" class="story f-empha">storyName</a>
                            <a href="#" class="book f-subSmall">bookName</a>
                            <a href="#" class="author f-subSmall">author</a>
                        </div>
                    </div>
                    <mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</mark> Nihil ut porro veritatis impedit harum natus soluta dolores ducimus commodi recusandae dignissimos minima beatae reiciendis quaerat, tempore! Beatae officia deleniti architecto, nemo blanditiis nihil quae voluptatem qui dolorum! Sunt, veritatis porro officiis! Amet repellendus ipsam officiis molestias expedita quasi nihil, officia.
                </div>
            </div>

        </div>

        <div class="right">
            <div class="aside">
                <div class="infor">
                    <div class="book-name f-subSmall">Bookname</div>
                    <div class="story-name f-empha">Storyname</div>
                    <div class="date f-subSmall">2017.00.00</div>
                    <hr class="hr-infor">
                    <div class="score">
                        <div class="score-num citation f-subSmall">Citation
                            <div class="citation-num f-empha">6</div>
                        </div>
                        <div class="score-num follow f-subSmall">Follow
                            <div class="follow-num f-empha">8</div>
                        </div>
                        <div class="score-num view f-subSmall">View
                            <div class="view-num f-empha">670</div>
                        </div>
                    </div>
                </div>
                <div class="aside-btn">
                    <a href="#" id="new" class="f-basic">NEW STORY</a>
                </div>
            </div>
            <div class="footer f-subSmall">백승현 k206104@naver.com <br>
                장정호 jjhh3079@gmail.com <br>
                하동호 dongho9601@gmail.com</div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="/js/popover.js"></script>


</body>

</html>