<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/intro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
    <script src="./js/intro.js"></script>
    <script src="./js/typed.js"></script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    
<!--    HiStory
        Discover IT!
        Discover YOU!
        Discover your Meaning
        Discover your Vision
        Discover your Ability
        Discover your Possibility-->
   
    <div class="intro-page">
        <div class="header">
            <span id="typed1"></span> <br>
            <span id="typed2"></span>
            <span id="typed3"></span>
        </div>
        <!--FIXME 서브밋으로 구현하려니까 AJAX에서 에러가 생긴다 일단은 놔두지만 반드시 고칠것-->
        <form action="/auth/login" method="post">
            <div class="sign-in-up">
                <!--TODO: id를 바꿨으니 이 id에 맞춰서 코드도 바꿔야 한다.-->
                <!--<form id="loginform" action="/auth/login" method="post">-->
                <input id="user-id" name="userid" type="text" placeholder="ID">
                <br>
                <input id="user-password" name="password" type="password" placeholder="PW">
                <!--<input id="login" type="submit" class="f-empha" value="로그인">-->
                <br>
                <button id="sign-in" type="submit" class="f-empha">Sign In</button>
                <br>
                <a id="sign-up" href="/signup" class="f-empha">Sign Up</a>
                <a id="lost-password" href="">Lost your password?</a>
            </div>
        </form>
    </div>
    <script>


//        $('#login').click(function () {
//            const data = {
//                userid : $('#userid').val(),
//                password : $('#password').val()
//            };
//            $.ajax({
//                url:'http://127.0.0.1:3000/auth/login',
//                type:'post',
//                data:data, //form 태그의 정보를 값의이름=값의내용&값 의 형식으로 바꿔준다
//                success:function (data) {
//                    console.log(data.message);
//                    console.log(data.token);
//                    alert("로그인되었습니다!");
//                    localStorage.setItem('token', data.token);
//                    console.log('success');
//                    console.log(data);
//                    console.log(localStorage.getItem('token'));
//                },
////                FIXME 이거 에러 추가해놓으니까 계속 에러뜬다 -_- 뭐지 jquery ajax api를 다시 공부해볼까
////                error:alert("에러"),
//                complete:setTimeout(function () {
//                    window.location.href="http://127.0.0.1:3000/main/action"
//                },1000)
//            });
//        })

    </script>
    
</body>
</html>