

/* General ================================================== :) */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;   
    font-family: 'Noto Sans KR';
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}
body {
    overflow: scroll;
}
button {
    border: none;
    background: none;
    outline: none;
}
input, textarea {
    outline: none;
}

/* font ================================================== :) */
.f-logo {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(100, 100, 100, 1);
    text-decoration: none;
}
.f-menu {
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(50, 50, 50, 1);   
    text-decoration: none;
}
.f-basic {
    font-size: .9rem;
    font-weight: 600;
    color: rgba(80, 80, 80, 1);   
    text-decoration: none;
}
.f-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(50, 50, 50, 1);   
    text-decoration: none;
}
.f-empha {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.f-sub {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(100, 100, 100, 1);   
    text-decoration: none;    
}
.f-subSmall {
    font-size: .8rem;
    font-weight: 500;
    color: rgba(100, 100, 100, 1);   
    text-decoration: none;    
}


/* nav ================================================== :) */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, .6);
    width: 970px;
    margin: auto;    
}
.nav .logo {
    padding-left: 24px;
    margin-bottom: 8px;

}
.nav .logo img {
    width: 45px;
    margin-right: -9px;
    position: relative;
    top: 3px;
    z-index: -10;
}
.nav ul.menu {
    list-style: none;
    display: flex;
    margin-bottom: 0px;
}
.nav ul li {
    width: 82px;
}
.nav ul li a {
    opacity: .3;
}
.nav a.active {
    opacity: .8;
}
.nav ul li a:hover {
    transition: all .35s ease;
    opacity: .9;
}

/* container ================================================== :) */
.container
{
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    width: 970px;
    margin: auto;
}

/* right ================================================== :) */
.right {
    position: relative;
    height: 600px;
}
.right .aside {
    width: 232px;
    padding-top: 14px;
}
.right .aside .click-me {
    animation: colorchange 3s;
    animation-iteration-count: infinite;
}
@keyframes colorchange {
    0% {background-color: rgba(255, 245, 212, 0);}
    50% {background-color: rgba(255, 245, 212, 1);}
    100% {background-color: rgba(255, 245, 212, 0);}
}
.right .footer {
    padding-top: 28px;
    font-weight: 200;
}
.right .aside div {
    padding: 2px;
}
.right .aside::before {
    background: rgba(0, 0, 0, .7);
    content: ' ';
    display: inline-block;
    height: 4px;
    width: 232px;
    position: relative;
    left: 0px;    
    top: 6px;
}
.right .aside .infor {
    border: 1px solid rgba(0, 0, 0, .3);    
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
}
.right .aside .infor .date {
    text-align: right;
}
.right .aside .infor .score {
    display: flex;
    justify-content: center;
}
.right .aside .infor .score div {
    width: 78px;
    text-align: center;
}
.right .aside .infor .story-setting {
    display: block;
}
.right .aside .infor .story-setting button {
    width: 220px;
    text-align: left;
    padding-left: 10px;
}
.right .aside .infor .story-setting a {
    text-decoration: none;
    opacity: 1;
}
.right .aside .infor .story-setting * {
    opacity: .3;
}
.right .aside .infor .story-setting *:hover {
    transition: all .35s ease;
    background-color: rgba(250, 250, 250, 1);
    opacity: .9;
}
.right .aside .aside-btn {
    margin-top: 14px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
    text-align: center;
}
.right .aside .aside-btn  #new-story-btn {
    text-decoration: none;
    background: none;
    border: none;
    opacity: .3;
}
.right .aside .aside-btn:hover {
    background-color: rgba(250, 250, 250, 1);
}
.right .aside .aside-btn #new-story-btn:hover{
    transition: all .35s ease;
    opacity: .9;
}
.right .aside #insert-changing {
    margin-top: 5px;
}
.right .aside #insert-changing * {
    width: 200px;
    margin: 2px 13px 1px 13px;
}
.right .aside #insert-changing input[type="button"],
.right .aside #insert-changing label {
    border: 1px solid rgba(51, 51, 51, .3);
    background: rgba(240, 240, 240, 1);
}
.right .aside #insert-changing label {
    display: block;
    text-align: center;
    padding: 2px;
}
.right .aside #insert-changing input[type="button"]:hover,
.right .aside #insert-changing label:hover {
    background: rgba(200, 200, 200, 1);
}
.right .aside #insert-changing .insert-btn {
    padding: 0px;
}
.right .aside #insert-changing .insert-btn * {
    display: inline-block;
    width: 96px;
    margin: 0px;
}
.right .aside #insert-changing .insert-btn *:last-child {
    margin-left: 4px;
}



.hr-infor {
    border: 1px dotted rgba(50, 50, 50, .2);
    margin-bottom: 0px;
}

/* left ================================================== :) */
.left {
    width: 724px;
}

/* left-top ================================================== :) */
.left .left-top {
    display: flex;
    justify-content: flex-end;
}
.left .left-top .view-mode {
    width: 180px;
    display: flex;
    justify-content: center;
}
.left .left-top .view-mode div {
    text-align: center;
    width: 90px;
}
.timeline::before {
    background: rgba(0, 0, 0, .4);
    content: '';
    display: inline-block;
    height: 15px;
    width: 2px;
    position: relative;
    left: -14px;    
    top: 2px;
}
.left .left-top .arg {
    width: 68px;
    text-align: center;
    margin-left: 14px;
    font-size: .9em;
    position: relative;
    top: 3px;
    opacity: .3;
}
.webui-popover-content .arg-popover {
    text-align: center;
    background-color: white;
}
.webui-popover-content .arg-popover button {
    text-align: center;
    border: none;
    background: none;
    margin: 1px;
}
.webui-popover-content .arg-popover button:hover {
    border: 1px dotted red;
}
.left .left-top .arg_ {
    width: 68px;
    text-align: center;
    margin-left: 14px;
    font-size: .9em;
    position: relative;
    top: 3px;
    opacity: .3;
}
.left .left-top .view-mode a{
    text-decoration: none;    
    opacity: .3;
}
.left .left-top .view-mode .active {
    opacity: .9;
}
.left .left-top a:hover {
    transition: all .35s ease;
    opacity: .8;
}

/* story-list ================================================== :) */
.left .story-list {
    padding-top: 14px;
    margin-top: -14px;
}

/* stories ================================================== :) */
.left .story-list .story {
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
    margin: 14px;
}
.left .story-list .story .story-header {
    display: flex;
    justify-content: space-between;
}
.left .story-list .story .story-title a {
    text-decoration: none;    
}
.left .story-list .story .story-header a img {
    opacity: .3;
}
.left .story-list .story:hover .story-header a img {
    transition: all .35s ease;
    opacity: .9;
}
.left .story-list .story .memo{
    text-align: justify;   
    vertical-align: middle;
}
.left .story-list .story .memo .edit {
    position: relative;
    top: 3px;
    opacity: .3;
    vertical-align: top;
}
.left .story-list .story .memo .edit:hover {
    transition: all .35s ease;
    opacity: .9;
}
.left .story-list .story .memo .edit,
.left .story-list .story .memo .story-memo {
    display: inline;
}
.left .story-list .story .memo .story-memo {
/*    display: inline-block;*/
    border: none;
    font-size: 1rem;
    overflow: hidden;
/*    width: 600px;*/
    vertical-align: middle;
    text-align: justify;
    resize: none;
}

/* page-list ================================================== :) */
.left .page-list {
    margin: 14px;
    border: 1px solid rgba(50, 50, 50, .3);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
mark {
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 245, 212, 1);
}

/* pages ================================================== :) */
.left .page-list .page {
    text-align: justify;
    margin-top: 15px;
}
.left .page-list .page p {
    margin: 0;
}
.page:hover {
    background: rgba(240, 240, 240, 1);
}
.left .page-list .page .story-title {
    display: inline;
}
.hr-page {
    border: 1px dotted rgba(51, 51, 51, .1);
}
.left .page-list .last-page {
    text-align: justify;
}
.left .page-list .page .img-box {
    background-color: rgba(245, 245, 245, 1);
    height: 400px;
}
.left .page-list .link-box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.left .page-list .link-box .f-subSmall {
    text-align: right;
}
/* 만약 가능하다면 글자수에 따라 quotation box의 style을 변경할 수 있도록 하면 좋을 것 같다.*/
.left .page-list .quot-box {
    background-color: white;
    padding: 14px;

}

/* page img ================================================== :) */
.left .page-list .page .img-box {
    width: 600px;
    margin: 0px 33px 10px 33px;
    text-align: center;
    position: relative;
}
.left .page-list .page .img-box img {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
.left .page-list .page .img-box .to-left,
.left .page-list .page .img-box .to-right {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0%;
    height: 400px;
    border: none;
    background: none;
}
.left .page-list .page .img-box .to-left:hover,
.left .page-list .page .img-box .to-right:hover {
    background-color: rgba(250, 250, 250, .5);
    transition: all .35s ease;
}


.left .page-list .page .img-box .to-left {
    left: 0;
}
.left .page-list .page .img-box .to-right {
    right: 0;
}
.left .page-list .page .img-box .hidden {
    display: none;
}

/* Page popover ================================================== :) */
#page-set {
    position: absolute;
    visibility: hidden;
    background: white;
    border: 2px solid rgba(100, 100, 100, 1);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
    border-radius: 8px;
    border-top-left-radius: 0px;
    width: 100px;
    z-index: 200;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
#page-set div:hover {
    color: rgba(0, 0, 0, 1);
}

/* Writeing ================================================== :) */
.left .page-write {
    margin-bottom: 400px;
    padding-bottom: 15px;
}
.left .page-write .textarea {
    width: 660px;
    border: none;
    margin: 3px 3px 5px 3px;
}
.left .page-write .footer{
    display: flex;
    justify-content: flex-end;
    padding: 0px 3px 0px 0px;
}
.left .page-write .footer * {
    margin: 2px 0px 0px -1px;
    padding: 3px 5px 3px 5px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    background: rgba(240, 240, 240, 1);
    border: 1px solid rgba(200, 200, 200, 1);
}
.left .page-write .footer *:hover {
    background: rgba(200, 200, 200, 1);
}
.left .page-write .add-box .add-link,
.left .page-write .add-box .add-img {
    padding: 3px 0px 6px 3px;
}
.left .page-write .add-box .add-link input {
    width: 659px;
}
.left .page-write .sub-nav {
    padding-left: 3px;
    z-index: 100;
    position: absolute;
}

/* Books ================================================== :) */
.book-list {
    width: 998px;
    min-height: 700px ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 0px 14px;
}
.book-list .a-book {
    overflow: hidden;
    width: 232px;
    height: 370px;
    margin-top: 14px;
    margin-right: 14px;
    border: 1px solid rgba(51, 51, 51, .3);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45); 
    position: relative;
}
.book-list .a-book .book-slide .book-item {
    text-align: center;
}
.book-list .a-book .book-slide .book-item .book-header{
    height: 50px;
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: space-between;
}
.book-list .a-book .book-slide .book-inside .book-header .go-setting {
    visibility: hidden;
    opacity: .3;
}
.book-list .a-book .book-slide .book-inside .book-header .go-setting:hover{
    opacity: .9;
}
.book-list .a-book .book-slide .book-inside:hover .book-header .go-setting {
    visibility: visible;
}

.book-list .a-book .book-slide .book-inside .story-title {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-list .a-book .book-slide .book-inside .btn {
    height: 20px;
}
.book-list .a-book:hover .book-slide .book-inside .btn {
    background: rgba(250, 250, 250, 1);
}
.book-list .a-book .book-slide .book-inside .btn * {
    opacity: .3;
}

/* book card ================================================== :) */
.book-list .a-book .book-item {
    width: 232px;
    height: 370px;
    position: relative;
}
.book-list .a-book .book-slide.now-setting {
    transform: translate3d(0, 0, 0);
    transition: transform .35s ease;
}
.book-list .a-book .book-slide.now-inside {
    transform: translate3d(0, -370px, 0);
    transition: transform .35s ease;
}
/* inner card ================================================== :) */
.book-list .a-book .book-inside .book-stories {
    overflow: hidden;
    height: 280px;
}
.book-list .a-book .book-inside .book-stories .book-story-slide {
    position: relative;
}
.book-list .a-book .book-inside .book-stories .book-story-slide a:hover{
    background: rgba(245, 245, 245, 1);
}
.book-list .last-book .search .search-box {
    border: none;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 220px;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
}
.book-list .last-book .search .search-box:focus {
    transition: all .35s ease;
    background-color: rgba(240, 240, 240, 1);
}
.book-list .last-book .add {
    height: 325px;
}
.book-list .last-book .add .add-btn {
    position: relative;
    height: 50px;
    width: 50px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    opacity: .3;
}
.book-list .last-book .add .add-btn:hover {
    opacity: .9;
    transition: all .35s ease;
}
/* Book setting ================================================== :) */
.book-list .a-book .book-setting .modi-title input {
    width: 200px;
}
.book-list .a-book .book-setting .modi-pub,
.book-list .a-book .book-setting .delete {
    border: 1px solid rgba(200, 200, 200, 1);
    width: 200px;
    margin: auto;
    margin-top: 7px;
    background: rgba(240, 240, 240, 1);
}
.book-list .a-book .book-setting .modi-pub:hover,
.book-list .a-book .book-setting .delete:hover {
    background: rgba(200, 200, 200, 1);
}
.book-list .a-book .book-setting .delete span {
    display: block;
}
.book-list .a-book .book-setting .insert-btn {
    margin: 7px 16px 0px 16px;
}
.book-list .a-book .book-setting .insert-btn * {
    width: 96px;
    border: 1px solid rgba(200, 200, 200, 1);
    background: rgba(240, 240, 240, 1);
}
.book-list .a-book .book-setting .insert-btn *:hover {
    background: rgba(200, 200, 200, 1);
}
.book-list .a-book .book-setting .insert-btn *:last-child {
    margin-left: 4px;
}


/* Explore ================================================== :) */
.left .page-list .page .explore-header .card-name div {
    display: inline-flex;
}

/* Closeup ================================================== :) */
.closeup {
    content: ' ';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, .8);
    z-index: 100;
    visibility: hidden;
}

/* New story @ action ================================================== :) */
.closeup .new-story {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 560px;
    height: 380px;
    padding: 25px 20px 25px 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    z-index: 200;
    visibility: hidden;
}
.closeup .new-story #new-story-title {
    width: 520px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background-color: rgba(240, 240 ,240, 1);
}
.closeup .new-story #new-story-title:focus,
.closeup .new-story .new-book #new-book-title:focus {
    background-color: rgba(210, 210, 210, 1);
}
.closeup .new-story .make-new-book {
    width: 520px;
    border: none;
    border-bottom: 1px solid rgb(80, 80, 80);
    margin-bottom: 5px;
}
.closeup .new-story .make-new-book label {
    float: right;
}
.closeup .new-story .new-story-book label {
    display: block;
}
.closeup .new-story .new-story-book label:hover {
    background-color: rgba(245, 245, 245, 1);
}
.closeup .new-story .make-new-book #new-book-title {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 3px;
    width: 430px;
}
.closeup .new-story #new-story-close {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: .5;
    padding: 1px;
}
.closeup .new-story .new-story-book {
    width: 520px;
    height: 240px;
    overflow-y: scroll;
}
.closeup .new-story .new-story-book .book-name {
    display: inline-block;
    width: 145px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(140, 140, 140, 1);
    opacity: .3;
}
.closeup .new-story .new-story-book .book-name:hover {
    transition: all .35s ease;
    opacity: .9;
/*  IF IT IS CLICKED, opacity: 1;*/
}
.closeup .new-story .new-story-footer {
    width: 520px;
    height: 25px;
    border-top: 1px solid black;
    margin-top: 5px;
    padding: 3px;
    text-align: right;
}
.closeup .new-story .new-story-footer button {
    border: none;
    background: none;
}
label .inactive {
    display: none;
}

/* Story Del @ action ================================================== :) */
.closeup .story-delete {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 360px;
    height: 160px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    z-index: 200;
    text-align: center;
    visibility: hidden;
}
.closeup .story-delete #story-delete-close {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: .7;
    padding: 3px;
}
.closeup .story-delete p span {
    color: red;
}
.closeup .story-delete #confirm {
    width: 330px;
}
.closeup .story-delete input[type="submit"] {
    margin-top: 15px;
    width: 100px;
    border: 1px solid rgba(255, 0, 0, 1);
    background: none;
}
.closeup .story-delete input[type="submit"]:hover {
    transition: all .15s ease;
    background-color: rgba(255, 0, 0, .25);
}

/* Story Done @ action ================================================== :) */
.closeup .story-done {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 530px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    z-index: 200;
    visibility: hidden;
}
.closeup .story-done .f-menu {
    padding: 6px 0px 6px 3px;
}
.closeup .story-done #editor2 {
    width: 670px;
    height: 500px;
}
.closeup .story-done #story-done-close {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: .7;
    padding: 3px;
}
.closeup .story-done .footer {
    display: flex;
    justify-content: flex-end;
}
.closeup .story-done .footer * {
    margin: 6px 0px 0px 0px;
    padding: 3px 5px 3px 5px;
    width: 80px;
    text-align: center;
    background: rgba(240, 240, 240, 1);
    border: 1px solid rgba(200, 200, 200, 1);
}
.closeup .story-done .footer *:hover {
    background: rgba(200, 200, 200, 1);
}
.closeup .story-done .add-box {
    margin-top: 6px;
}
.closeup .story-done .add-box .add-link input {
    width: 680px;
}

/* Setting ================================================== :) */
#setting-nav {
    width: 970px;
    margin: auto;
    padding: 7px 28px 7px 28px;
}
#setting-nav * {
    margin-right: 14px;
    opacity: .4;
}
#setting-nav *:hover {
    opacity: 1;
    transition: all .35s ease;
}
.setting>div {
    width: 938px;
    margin: auto;
    margin-top: 28px;
    padding: 7px 14px 7px 14px;
    border: 1px solid rgba(51, 51, 51, .3);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, .45);
}
.setting .title {
    display: flex;
}
.setting .small-nav {
    width: 600px;
    margin-left: 36px;
}
.setting input {
    display: block;
    margin: auto;
    margin-bottom: 7px;
    padding: 2px;
    width: 450px;
}
.setting input[type='button'] {
    border: 1px solid rgba(51, 51, 51, .3);
    background: rgba(240, 240, 240, 1);
}
.setting input[type='button']:hover {
    background: rgba(200, 200, 200, 1);
}