@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;   
    font-family: 'Noto Sans KR';
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

body {
    overflow: hidden;
}
.intro-page,
.sign-up {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgba(50, 50 , 50, 1);
    padding: 100px;
}

.header {
    font-size: 4rem;
    width: 846px;
    height: 200px;
    text-align: center;
}
.typed-cursor{
    color: rgba(50, 50, 50, 1);
}
.sign-in-up {
    padding-top: 30px;
    text-align: center;
}
#user-id, #user-password {
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 2px;
    padding: 3px;
}
#sign-in {
    width: 250px;
    background: rgba(220, 220, 220, 1);
    border: 1px solid rgba(220, 220, 220, 1);
}
#sign-in:hover {
    background: rgba(120, 120, 120, 1);
    border: 1px solid rgba(120, 120, 120, 1);
    color: white;
    transition: all .35s ease;
}
#sign-up, #lost-password {
    text-decoration: none;
    opacity: .3;
    padding-right: 10px;
    padding-left: 10px;
    font-size: .9rem;
    position: relative;
    top: -3px;
}
#sign-up:hover, #lost-password:hover {
    opacity: 1;
    transition: all .35s ease;
}

.sign-up input {
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 3px;
    margin: 2px;
}
.sign-up>div {
    font-size: 1.2rem;
    margin: 5px;
    margin-bottom: 15px;
}