<!DOCTYPE html>
<html>
<head>
  <title>Edit Page</title>
</head>
<body>
  <h1>Edit Page</h1>
  <hr />
  <form method="post">
    <fieldset>
      <legend>Edit Data</legend>
      <table>
        <tr>
          <td><label>Id</label></td>
          <td><input type="text" name="test1" value="<%= data.test2_id %>" disabled /></td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text" name="test2" value="<%= data.test2_con %>" /></td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><input type="text" name="test2" value="<%= data.test_id %>" /></td>
        </tr>
      </table>
      <input type="submit" />
    </fieldset>
  </form>
</body>
</html>